<div class="col-md-10">
  <form cass="tab-pane active form-horizontal" id="first" name="useForm" novalidate ng-submit="update()">
  	<h3 class="block"> Edit user</h3>
  	<div ng-include src="'/templates/users/_form.html'"></div>
  </form>
</div>